/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root {
}

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #ffeef6;
  --logo_color: #ffc2e6;
  --shadow_color: #ff8dcb;
  --title-1_color: #353430;
  --title_color: #353430;
  --title_bg-color: #ff8dcb;
  --main-text: #353430;
  --decor-color: #353430;
  --rec-opacity: 0;
}