/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

html {
  block-size: 100%;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
  align-items: center;
  min-inline-size: 375px;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  inline-size: calc(100% - 20px);
  min-block-size: 648px;
  margin: 10px;
}

.header_rec {
  display: block;
  position: relative;
  text-transform: uppercase;
  color: var(--decor-color);
  opacity: var(--rec-opacity);
  align-self: flex-end;
  margin-inline-end: 28px;
  margin-block-end: 42px;
}

.header_rec::after {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 8px var(--decor-color);
  border-radius: 50%;
  background-color: var(--decor-color);
  opacity: var(--rec-opacity);
}

.header__theme-menu {
  align-self: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  color: var(--decor-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 4px 13px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(currentColor 40%, transparent);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  box-shadow: 0 1px 0 currentColor;
}

.title {
  display: block;
  color: var(--logo_color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow_color);
  margin: 65px 0 55px;
}

.header_card {
  max-inline-size: 355px;
  align-self: flex-end;
  background-color: var(--title_bg-color);
  margin-block-end: 56px;
}

.header_card_text {
  color: var(--title_color);
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 10px;
}

.main_card_title-1 {
  color: var(--title-1_color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-block-end: 20px;
  grid-column: 1;
}

.main_card_title-2 {
  background-color: var(--title_bg-color);
  color: var(--title_color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.main_card_title-3 {
  background-color: var(--title_bg-color);
  color: var(--title_color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.main_card_title-2 + .main_card_title-3 {
  margin-block-start: 20px;
}

.main_card_text {
  color: var(--main-text);
}

.main_card_text_link {
  color: var(--main-text);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow_color);
}

.main_card_text_link:hover {
  border-bottom: 1px solid var(--main-text);
}

.main_card_text_link:focus-visible {
  outline: 1px solid var(--main-text);
}

.main_card_type-1 {
  grid-column: 2;
}

.main_card_type-2 {
  grid-column: span 2;
}

.main_card_type-3 {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "gallery_image-1 gallery_image-1 gallery_image-2"
    "gallery_image-3 gallery_image-4 gallery_image-2"
    "gallery_image-3 gallery_image-5 gallery_image-5";
}

.main_card_podtype {
  margin-block-end: 20px;
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-1 {
  grid-area: gallery_image-1;
}

.image-2 {
  grid-area: gallery_image-2;
}

.image-3 {
  grid-area: gallery_image-3;
}

.image-4 {
  grid-area: gallery_image-4;
}

.image-5 {
  grid-area: gallery_image-5;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: calc(100% - 20px);
  min-block-size: 648px;
  position: relative;
  margin: 10px;
}

.footer_title {
  margin: 0;
  text-shadow: 2px 2px 0 var(--shadow_color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

@media (768px <= width < 1024px) {
  .page {
    gap: 60px;
    min-inline-size: 768px;
    max-inline-size: 1023px;
  }

  .header,
  .footer {
    inline-size: calc(100% - 40px);
    min-block-size: 984px;
    margin: 20px;
  }

  .header_rec {
    margin-block-end: 149px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin: 173px 0 162px -20px;
  }

  .header_card {
    inline-size: 364px;
    margin-block-end: 163px;
  }

  .main {
    margin: 0 20px;
    gap: 60px;
  }

  .main_card {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
  }

  .main_card_text:last-of-type {
    margin-block-end: 0;
  }

  .main_card_type-3 {
    display: grid;
    gap: 20px;
    margin-block-start: 10px;
  }

  .main_card_podtype:last-of-type {
    margin-block-end: 0;
  }

  .footer_title {
    margin: 0;
  }
}

@media (width >= 1024px) {
  .page {
    gap: 60px;
    min-inline-size: 1024px;
  }

  .header,
  .footer {
    inline-size: calc(100% - 40px);
    min-block-size: 728px;
    margin: 20px;
  }

  .header_rec {
    margin-block-end: 149px;
  }

  .header__theme-menu {
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 15px;
  }

  .header_rec {
    margin-inline-end: 28px;
    margin-block-end: -26px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin: 297px 0 114px -20px;
  }

  .header_card {
    max-inline-size: 491px;
    margin-block-end: 114px;
  }

  .main {
    margin: 0 20px;
    gap: 60px;
  }

  .main_card {
    display: grid;
    grid-template-columns: 315px 1fr;
    column-gap: 20px;
  }

  .main_card_text:last-of-type {
    margin-block-end: 0;
  }

  .main_card_type-2-mod {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main_card_type-3 {
    display: grid;
    gap: 20px;
    margin-block-start: 10px;
  }

  .main_card_podtype:last-of-type {
    margin-block-end: 0;
  }

  .footer_title {
    margin: 0;
  }
}