/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

html {
  block-size: 100%;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  align-items: center;
  min-inline-size: 375px;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color);
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
}

.header,
.footer {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.header_rec-and-menu {
  grid-row: 1;
  justify-self: end;
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 100%;
  block-size: 163px;
}

.header_rec {
  position: relative;
  text-transform: uppercase;
  color: var(--decor-color);
  opacity: var(--rec-opacity);
  align-self: flex-end;
  margin-inline-end: 28px;
}

.header_rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  width: 9px;
  height: 9px;
  box-shadow: 0 0 8px var(--decor-color);
  border-radius: 50%;
  background-color: var(--decor-color);
  opacity: var(--rec-opacity);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  color: var(--decor-color);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 4px 13px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  transition: all 0.3s ease;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(currentColor 40%, transparent);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  box-shadow: 0 1px 0 currentColor;
}

.title {
  grid-row: 2;
  align-self: start;
  color: var(--logo_color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow_color);
}

.header_card {
  grid-row: 3;
  justify-self: end;
  align-self: center;
  max-inline-size: 355px;
  background-color: var(--title_bg-color);
}

.header_card-text {
  color: var(--title-accent_color);
  font-weight: 700;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 10px;
}

.main_card_title {
  color: var(--title_color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-block-end: 20px;
  grid-column: 1;
}

.main_card_title-accent {
  background-color: var(--title_bg-color);
  color: var(--title-accent_color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.main_card_title-accent-thin {
  font-weight: 400;
}

.main_card_title-accent-thin:first-of-type {
  margin-block-start: 20px;
}

.main_card_text {
  color: var(--main-text);
}

.main_card_text_link {
  color: var(--main-text);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow_color);
  transition: all 0.3s ease;
}

.main_card_text_link:hover {
  border-bottom: 1px solid var(--main-text);
}

.main_card_text_link:focus-visible {
  outline: 1px solid var(--main-text);
}

.main_card_list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.main_card_list-base {
  grid-column: 2;
}

.main_card_list-special {
  grid-column: span 2;
}

.main_card_list-img {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "gallery_image-sun gallery_image-sun gallery_image-smile"
    "gallery_image-vhs gallery_image-books gallery_image-smile"
    "gallery_image-vhs gallery_image-street gallery_image-street";
}

.images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-sun {
  grid-area: gallery_image-sun;
}

.image-smile {
  grid-area: gallery_image-smile;
}

.image-vhs {
  grid-area: gallery_image-vhs;
}

.image-books {
  grid-area: gallery_image-books;
}

.image-street {
  grid-area: gallery_image-street;
}

.footer_title {
  grid-row: 2;
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--shadow_color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

@media (width >= 768px) {
  .page {
    gap: 60px;
    min-inline-size: 768px;
  }

  .header,
  .footer {
    padding: 20px;
  }

  .header_rec-and-menu {
    inline-size: 100%;
    block-size: 270px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header_card {
    max-inline-size: 364px;
  }

  .main {
    padding: 0 20px;
    gap: 80px;
  }

  .main_card {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
  }

  .main_card_text:last-of-type {
    margin-block-end: 0;
  }

  .main_card_list-img {
    display: grid;
    gap: 20px;
    margin-block-start: 10px;
  }

  .main_card_title-accent-mod {
    margin-block-end: 20px;
  }

  .footer_title {
    margin-inline-start: 0;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (width >= 1024px) {
  .page {
    gap: 60px;
    min-inline-size: 1024px;
  }

  .header,
  .footer {
    padding: 20px;
  }

  .header_rec-and-menu {
    flex-direction: row-reverse;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    inline-size: 100%;
  }

  .header_rec {
    grid-column: 3;
    grid-row: 1;
    align-self: start;
    justify-self: end;
    margin-inline-end: 28px;
  }

  .header__theme-menu {
    grid-column: 2;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 15px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .header_card {
    max-inline-size: 491px;
  }

  .main {
    padding: 0 20px;
    gap: 80px;
  }

  .main_card {
    display: grid;
    grid-template-columns: 315px 1fr;
    column-gap: 20px;
  }

  .main_card_text:last-of-type {
    margin-block-end: 0;
  }

  .main_card_list-special-column {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .main_card_list-img {
    display: grid;
    gap: 20px;
    margin-block-start: 10px;
  }

  .main_card_title-accent-mod {
    margin-block-end: 20px;
  }

  .footer_title {
    margin-inline-start: 0;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}